.advantages-block {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  align-items: center;
  min-height: 312px;
  justify-content: center;

  .icon-diamond {
    margin: 0 auto;
    display: block;
    width: 82px;
    height: 70px;

    @include vp-768 {
      width: 129px;
      height: 107px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 10px;

    @include vp-768 {
      display: grid;
      grid-template-columns: repeat(2, 175px);
      gap: 28px 6px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;

    &:nth-last-of-type(-n+2) {
      display: none;
    }

    @include vp-768 {
      max-width: 108px;
      flex-direction: column;
      gap: 5px;

      &:nth-last-of-type(-n+2) {
        display: flex;
      }
    }
  }

  &__item--start {
    justify-self: start;
  }

  &__item--end {
    justify-self: end;
  }

  &__icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: $color-ce-soir-01;
    border-radius: 50%;
    flex-shrink: 0;

    svg {
      width: 16px;
      height: 16px;
      color: $color-ce-soir;
      transition: color $trans-default;
    }

    @include hover-focus {
      svg {
        color: $color-sunglow;
      }
    }

    @include vp-768 {
      width: 50px;
      height: 50px;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__text {
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    color: $color-ce-soir;

    @include vp-768 {
      text-align: center;
    }
  }
}
