.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 17px 20px 20px;

  color: $color-default-black;

  background-color: $color-sunglow;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  &--white {
    background: $color-default-white;
    border-radius: 5px;
    color: $color-black-02;
    padding: 17px;
    transition: background-color $trans-default, color $trans-default;

    @include hover-focus {
      color: $color-default-black;
      background-color: $color-sunglow;
      opacity: 1;
    }
  }
}
