mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#",
        text: "People nearby"
      },
      {
        href: "#",
        text: "Search"
      },
    ]

  header.header(class=headerMods)(data-header)
    .container
      if(currentUrl === "index.html")
        span.header__logo Logo
      else
        a.header__logo(href="index.html", aria-label="Переход на главную") Logo
      nav.main-nav(data-menu-nav)
        .main-nav__wrapper
          button.main-nav__toggle(type="button", aria-label="Переключатель отображения меню", aria-pressed="false", data-menu-toggle)
            span
            span
            span
          .main-nav__status
            span.main-nav__status-text Premium
            +icon("icon-status", 18, 15)
        ul.main-nav__list
          each link in headerLinks
            - const activeState = currentUrl === link.href
            li.main-nav__item
              if(activeState)
                span.main-nav__link.is-active= link.text
              else
                a.main-nav__link(href=link.href)= link.text
