// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);
$color-ce-soir-01:                  rgba(149, 100, 170, 0.1);
$color-ce-soir-02:                  rgba(149, 100, 170, 0.2);
$color-black-02:                    rgba(0, 0, 0, 0.2);
$color-ce-soir:                     #9564aa;
$color-honey-flower:                #684677;
$color-sunglow:                     #ffcf2d;
$color-golden-poppy:                #ffc500;
$color-coral-tree:                  #aa6464;
$color-coral-tree-02:               rgba(170, 100, 100, 0.2);
$color-mulberry:                    #c15ca1;

// для нейминга цветов используется https://www.htmlcsscolor.com/hex/334482

// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
// ---------------------------------

$fz-default:                        16px;

// Fonts

$ff-ubuntu:                         "ubuntu", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;
$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1440:                           1440px;
